{% extends 'managebill/base.html' %}
{% load static %}
{% block header %}
<h1>Login</h1>
{% endblock %}
{% block main %}
<form method="POST" action="{% url 'login' %}" style="margin: 0 auto;" class="col-md-6">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Login" class="btn btn-primary">
</form>
{% endblock %}