{% extends 'managebill/base.html' %}
{% load static %}

{% block header %}
<h1>Add a product to the bill </h1>
{% endblock%}

{% block main %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Done" class="btn btn-info" />
    </form>
{% endblock %}