{% extends 'managebill/base.html' %}
{% load static %}
{% block header %}
<h1>Bill number {{ obj.ticket_number }}</h1>
{% endblock %}
{% block main %}
{% if obj.products.all|length > 0 %}
    <ul class="list-group">
        {% for bill_product in obj.billproduct_set.all %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ bill_product.product.name }}
            <span class="badge badge-primary badge-pill" title="Quantity">{{ bill_product.quantity }}</span>
        </li>
        {% endfor %}
    </ul>
{% else %}
    <p>Don't have any product on this bill</p>
{% endif %}
<br/>
<a class="btn btn-info" href="{% url 'managebill:bill_add_product' obj.ticket_number %}">Add a product</a>
<a class="btn btn-primary" href="../">Back to bill list</a>
{% endblock %}
