{% extends 'managebill/base.html' %}
{% load static %}
{% block header %}
<h1>List of all bills</h1>
{%  endblock %}
{% block main %}
        <table class="table" style="text-align: center;">
            <thead class="thead-dark bounceInLeft animated">
                <tr>
                    <th scope="col">Bill number</th>
                    <th scope="col">Owner</th>
                </tr>
            </thead>
            <tbody>
            {% for bill in obj %}
                <tr>
                    <td class="bounceIn animated delay-1s">
                        <a href="{% url 'managebill:bill_details' bill.ticket_number %}" title="Details">{{ bill }}</a>
                    </td>
                    <td class="bounceIn animated delay-1s">
                        <a href="{% url 'managebill:contact_details' bill.contact.id %}" title="Details">{{ bill.contact.first_name }} {{ bill.contact.last_name }}</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

<a class="btn btn-info" href="{% url 'managebill:bill_create' %}">Create bill</a>
<a class="btn btn-primary" href="/">Back to index</a>
{% endblock %}
