{% extends 'managebill/base.html' %}
{% load static %}
{% block header %}
<h1>List of all products</h1>
{% endblock %}
{% block main %}
<table class="table" style="text-align: center;">
    <thead class="thead-dark bounceInLeft animated">
        <tr>
            <th scope="col">Product name</th>
            <th scope="col">Delete</th>
            <th scope="col">Update</th>
        </tr>
    </thead>
    <tbody>
    {% for product in obj %}
        <tr>
            <td class="bounceIn animated delay-1s">{{ product.name }}</td>
            <td>
                <a href="{% url 'managebill:product_delete' product.id %}" style='color: red;' class="bounceIn animated delay-1s">[X]</a>
            </td>
            <td>
                <a href="{% url 'managebill:product_update' product.id %}" style="color: blue;" class="bounceIn animated delay-1s">[U]</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn btn-info" href="{% url 'managebill:product_create' %}">Create a product</a>
<a class="btn btn-primary" href="/">Back to index</a>
{% endblock %}