{% extends 'managebill/base.html' %}
{% load static %}

{% block main %}
<form action="{% url 'managebill:contact_delete' obj.id %}" method="POST" class="form-inline">
    {% csrf_token %}
    <div class="form-group mx-sm-3 mb-2">
        <h4>Are you sure you want to delete {{ obj.first_name }} {{ obj.last_name }} ? </h4>
        <p><input type="submit" value="Delete (Y)" class="btn btn-primary mb-2"/> <a href="../">Cancel</a></p>
    </div>
</form>
{% endblock %}