{% extends 'managebill/base.html' %}
{% load static %}


{% block header %}
    {% if obj|length > 0 %}
        <h1>Bills of {{ obj.0.contact.first_name }} {{ obj.0.contact.last_name }}</h1>
    {% else %}
        <h1>This contact don't even have 1 bill :/</h1>
    {% endif %}
{% endblock %}

{% block main %}
    {% if obj|length > 0 %}
        <div style="text-align: center;">
            <table class="table bounceIn animated">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Bills</th>
                    </tr>
                </thead>
                <tbody>
                {% for bill in obj %}
                    <tr>
                        <td><a href="{% url 'managebill:bill_details' bill.ticket_number %}">{{ bill.ticket_number }}</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div style="text-align: center;">
            <img width=250 src="{% static 'managebill/img/dance_carlton.gif' %}"/>
        </div>
    {% endif %}
<a class="btn btn-danger" href="{% url 'managebill:bill_create' %}">Add a bill</a>
<a class="btn btn-primary" href="{% url 'managebill:contacts' %}">Back to contacts list</a>
<a class="btn btn-primary" href="/">Back to index</a>
{% endblock %}
