{% extends 'managebill/base.html' %}
{% load static %}

{% block header %}
    <h1 class="bounceInLeft animated">Contact list</h1>
{% endblock %}

{% block main %}
    {% if obj|length > 0 %}
        <table class="table" style="text-align: center;">
            <thead class="thead-dark bounceInLeft animated">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Delete</th>
                    <th scope="col">Update</th>
                </tr>
            </thead>
            <tbody>
            {% for contact in obj %}
                <tr>
                    <td class="bounceIn animated delay-1s">
                        <a href="{% url 'managebill:contact_details' contact.id %}">{{ contact.first_name }} {{  contact.last_name }}</a>
                    </td>
                    <td class="bounceIn animated delay-1s">
                        <a style="color: red;" href="{% url 'managebill:contact_delete' contact.id %}" class="bounceIn animated delay-1s">[X]</a>
                    </td>
                    <td class="bounceIn animated delay-2s">
                        <a style="color: blue;" href="{% url 'managebill:contact_update' contact.id %}">[U]</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <h1 class="bounceInLeft animated">There is no contact</h1>
    {% endif %}
    <a class="btn btn-outline-primary bounceInLeft animated" href="{% url 'managebill:contact_create' %}">Create a contact</a>
    <a class="btn btn-primary bounceInLeft animated" href="/">Back to index</a>
{% endblock %}
