{% extends 'managebill/base.html' %}
{% load static %}

{% block header %}
    <h1>Update {{ obj.first_name }} {{ obj.last_name }}</h1>
{% endblock %}

{% block main %}
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Done" class="btn btn-primary" />
        <a class="btn btn-primary" href="../">Back to contact list</a>
    </form>
{% endblock %}