<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Minifid</title>
    {% load static %}
    <!-- Bootstrap core CSS -->
    <link href="{% static 'managebill/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'managebill/vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- Plugin CSS -->
    <link href="{% static 'managebill/vendor/magnific-popup/magnific-popup.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template -->
    <link href="{% static 'managebill/css/animate.css' %}" rel="stylesheet">
    <link href="{% static 'managebill/css/freelancer.min.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'managebill/img/favicon.ico' %}"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top text-uppercase" id="mainNav">
      <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="/">Minifid' Project</a>
      {% if user.is_authenticated %}
        <button class="navbar-toggler navbar-toggler-right text-uppercase bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded" href="{% url 'managebill:contacts' %}">Contact</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'managebill:bills_list' %}">Bill list</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'managebill:products' %}">Product list</a>
            </li>
            <li class="nav-item mx-0 mx-lg-1">
              <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="{% url 'managebill:shops_list' %}">Shop list</a>
            </li>
            <li style="line-height: 56px;">
              <a href="{% url 'myLogout' %}" class="btn btn-danger">Logout</a>
            </li>
          </ul>
        </div>
      {% endif %}
      </div>
    </nav>
    <!-- Header -->
    <header class="masthead bg-primary text-white text-center">
      <div class="container">
      {% block header %}{% endblock %}
      </div>
    </header>
    <!-- Portfolio Grid Section -->
    <section class="portfolio" id="portfolio">
      <div class="container">
        {% block main %}{% endblock %}
      </div>
    </section>

    {% block section %}{% endblock %}


    <!-- Footer -->
    <footer class="footer text-center">
      <div class="container">
        <div class="row">
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Location</h4>
            <p class="lead mb-0">7 rue caumartin
              <br>Paris, 75009</p>
          </div>
          <div class="col-md-4 mb-5 mb-lg-0">
            <h4 class="text-uppercase mb-4">Around the Web</h4>
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://fr-fr.facebook.com/LineUP-7-406298672878031/">
                  <i class="fab fa-fw fa-facebook-f"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://twitter.com/lineup7_tweet?lang=fr">
                  <i class="fab fa-fw fa-twitter"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://fr.linkedin.com/company/lineup-7">
                  <i class="fab fa-fw fa-linkedin-in"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-outline-light btn-social text-center rounded-circle" href="https://www.lineup7.fr/">
                  <i class="fab fa-fw fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <h4 class="text-uppercase mb-4">About Python Developer</h4>
            <p class="lead mb-0">i don't know what to say !</p>
          </div>
        </div>
      </div>
    </footer>

    <div class="copyright py-4 text-center text-white">
      <div class="container">
        <small>Copyright &copy; Ritchy - Minifid 2018</small>
      </div>
    </div>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-to-top d-lg-none position-fixed ">
      <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
      </a>
    </div>


    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'managebill/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'managebill/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'managebill/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
    {# <script src="{% static 'managebill/vendor/magnific-popup/jquery.magnific-popup.min.js' %}"></script> #}

    <!-- Contact Form JavaScript -->
    <script src="{% static 'managebill/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'managebill/js/contact_me.js' %}"></script>

    <!-- Custom scripts for this template -->
    {#<script src="{% static 'managebill/js/freelancer.min.js' %}"></script>#}

  </body>

</html>
